<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.datlichkham" >
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CP17312_Nhom6_Duan1"
        tools:targetApi="31" >
        <activity
            android:name="com.example.datlichkham.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.UpdateOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ViewPagerItemFileDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.doctor.CofrimOrderDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.FileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ItemFileDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ListOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ListDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.OrderDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ConfirmActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ItemOrderDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ListDoctorByServiceActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.ListServiceActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.DoctorByServiceActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.admin.UpdateDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.admin.AddDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.EnterOTPActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.datlichkham.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>